
{% extends 'base.html' %}


{% block title %} login {% endblock %}


{% block content %}
<div class='w3-container' style="padding-top:80px" >
        <h2>Forgot your password</h2>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
     

        </div>
    <div  class='w3-container w3-card-4 w3-blue w3-round' id='header' style='padding:0 5px;margin:50px 20px;'>
           
            <h3 class='w3-center' id='header'> Password Reset</h3>

   
           
            <div class='w3-container w3-card-4 w3-white'style='padding:20px; '>
                    {% if form.non_field_errors %}
                    {% for errormessage in form.non_field_errors %}
        
                    <div class=' w3-red'style='padding:25px 10px;margin:0 0 20px; '>
                       {{errormessage}}</div>
                    {% endfor %}
                    {% endif %}
                <form method="post"  >
           
        {% csrf_token %}
        {% include 'baseform.html' %}
        <button type="submit" class="w3-button w3-right w3-theme w3-teal w3-round ">Send me now</button>

    </form>
            </div>
        </div>
            

{% endblock %}
