{% extends 'base.html' %}


{% block title %} login {% endblock %}


{% block content %}
<!--<div class='w3-container w3-blue w3-round' style="padding-top:80px" '>-->
        <div class='w3-container' style="padding-top:60px" >
<div class='w3-container  w3-card-4'>
        <h2>Enter new password</h2>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    
        <div class='w3-panel w3-teal'>
                <ul>
                        <li> Your password can't be too similar to your other personal information.  </li>
                        <li> Your password must contain at least 8 characters. </li>
                        <li> Your password can't be a commonly used password. </li>
                        <li> Your password can't be entirely numeric. </li>
                  
                        </ul>

        </div>
    </div>
    </div>
    <div  class='w3-container w3-card-4 w3-blue w3-round' id='header' style='padding:0 5px;margin:20px 20px ;'>
           
            <h3 class='w3-center' id='header'>Forgot Password</h3>

   
           
            <div class='w3-container w3-card-4 w3-white'style='padding:20px; '>
                    {% if form.non_field_errors %}
                    {% for errormessage in form.non_field_errors %}
        
                    <div class=' w3-red'style='padding:25px 10px;margin:0 0 20px; '>
                       {{errormessage}}</div>
                    {% endfor %}
                    {% endif %}

                <form method="post" >
           
        {% csrf_token %}
        {% for field in form %}
             <Span class='w3-text-red'>{{field.errors}}</Span>
           <label class="w3-text-blue">{{field.label}}</label>
           <div class="w3-input">{{field}}</div>
        {% endfor %}
     
        <button type="submit" class="w3-button w3-right w3-theme w3-teal w3-round ">submit</button>

    </form>
            </div>
        </div>
{% endblock %}
