{% extends 'base.html' %}

{% block title %} signup{% endblock %}


{% block content %}

<!--<div class='w3-container w3-blue w3-round' style="padding-top:80px" '>-->
<div class='w3-container'>
    <div  class='w3-panel w3-card-4 w3-blue w3-round' id='header' style='padding:0 5px;margin:50px 20px;'>
           
            <h3 class='w3-center' id='header'> SignUp</h3>

            <div class='w3-container w3-card-4 w3-white'style='padding:20px; '>
             <form method="post"  >
           
              {% csrf_token %}
              {% include 'baseform.html' %}
             <button type="submit" class="w3-button w3-right w3-theme w3-teal w3-round ">SignUp</button>

    </form>
  
</div>
                <a  href="{% url 'login' %}"  class="w3-button w3-right  w3-teal w3-round ">Already have Account</a>
                
</div>
</div>
   
{% endblock %}
